body{ font-family: 'Times New Roman', sans-serif;
background-color: #000000;
}



h1{font-size: 64px;
    text-align: center;
padding: 10px;
color:#ffffff;}

h2{font-size: 64px;
    text-shadow: #808080;
offset: 4px,4px,2px;
padding:10px;
color: #ffffff;}

p{font-size: 24px;
padding-top: 15px;}

img{display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px; }

#intro p{vertical-align: 150px;
padding: 25px;
color:#ffffff
}

#red{background-color: #f00;
text-align: right;
color:#ffffff;
padding: 10px;px;
min-height: 150px;}

#blue{background-color: #0000ff;
text-align: left;
color:#ffffff;
padding:10px;
min-height: 150px;}

#yellow p{background-color: #ffff00;
padding:10px;
min-height: 150px;
text-shadow:#c7e2c7}

#yellow p{color: #000000;
text-align: right;}

#yellow h2{background-color: #ffff00;
    text-align: right;
    color:#000000;
text-shadow: #c7e2c7;}

#green{background: #008000;
text-align: left;
color:#ffffff;
padding: 10px;
min-height: 150px;}





